<!DOCTYPE HTML>
<html lang="kr">
        <head>
                <!-- 합쳐지고 최소화된 최신 CSS -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
                
                <!-- 부가적인 테마 -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
                
                <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
                <title>
                    갯수를 세고싶은 단어를 입력해주세요!
                </title>
            </head>
            <body>
<h1><p class="bg-success">안녕하세요 여기서 글자를 세어보세요!</p></h1>

<a href="{%url 'about'%}"> 사용방법소개 </a>
<form action="{%url 'result'%}">
    <textarea cols = "40" rows = "10" name = "fulltext" id="inputSuccess1"></textarea>
    
    <br>
    <input class="btn btn-primary" type = "submit" value = "count!">
</form>
</body>
</html>